{{ define "extra.installation" -}}

## Installation

```bash
helm repo add chainsafe https://chainsafe.github.io/helm-charts
helm install {{ template "chart.name" . }} chainsafe/{{ template "chart.name" . }}
```

{{- end }}
